body {
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
}

.stats {
    color: #b3b3b3;
    font-size: 13px;
    margin-bottom: 10px;
}

.profile-actions {
    display: flex;
    gap: 4px;
    padding: 10px;
}

.btn {
    background: none;
    border: 1px solid #535353;
    color: white;
    padding:2px 15px;
    border-radius: 20px;
    font-size: 12px;
    cursor: default;
}

.bnt-c {
    border: none;
    color: rgb(167, 167, 167);
    background: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: default;
}

.btn-edit {
    border-color: #727272;
}

.profile-actions img {
    width: 30px;
    height: 30px;
}